.legalNotice {
    padding-left: 370px;
    width: 1000px;
    margin-bottom: 100px;
}

h1 {
    font-size: 55px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.containerTwo {
    margin-top: 100px;
}