.summary {
    padding-left: 370px;
    height: 94vh;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    margin-top: 60px;
}

.summaryContainerLeft {
    width: 600px;
}

.summaryContainerRight {
    margin-left: 43px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 37px;
    font-weight: 400;
    ;
}

.summaryName {
    font-size: 42px;
    color: #29ABE2;
    font-weight: 500;
}

.firstRow {
    display: flex;
    height: 50px;
    padding-top: 50px;
    width: 480px;
    justify-content: space-between;
    align-items: center;
}

.secondRow {
    display: flex;
    justify-content: space-between;
}

.section2ndRow {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 170px;
    height: 170px;
}

.thirdRow {
    margin-top: 30px;
}

.section3rdRow {
    height: 150px;
    display: flex;
    justify-content: space-between;
}

.thirdRowLeft {
    width: 266px;
    display: flex;
    justify-content: center;
    border-right: 1px solid #D1D1D1;
}

.thirdRowRight {
    width: 314px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.fourthRow {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.section4thRow {
    width: 285px;
    height: 150px;
    display: flex;
    justify-content: center;
}

.sections {
    display: flex;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0px 0px 2px 1px rgb(0 0 0 / 10%);
    background-color: #FFFFFF;
}

.sectionNumber {
    font-size: 64px;
    font-weight: 600;
}

.sectionText {
    font-size: 21px;
}

.summaryHeadline {
    width: 225px;
    border-right: 2px solid #29ABE2;
    font-size: 42px;
}

.summarySubHeadline {
    font-size: 20px;
}

h1 {
    font-size: 55px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.urgentIcon {
    height: 35px;
    width: 35px;
    padding: 12.5px;
    background-color: #FF3D00;
    border-radius: 100%;
    margin-right: 25px;
}

.summaryIcons {
    height: 69px;
    width: 69px;
    margin-right: 25px;
}


.tasksPrioUrgentAmount {
    font-size: 47px;
}

.urgentText {
    font-size: 16px;
}

.summaryUrgentAmount {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mobileBlueLine {
    display: none;
}

@media screen and (max-width: 1400px) {
    .summary {
        padding-left: 23%;
    }


}

@media screen and (max-width: 1200px) {
    .summary {
        padding-left: 22%;
    }

    .summaryContainerLeft {
        width: 555px;
    }

    .section4thRow {
        width: 250px;
    }

}

@media screen and (max-width: 1100px) {
    #sidebar {
        display: none !important;
    }
}

/* mobile header */


@media screen and (max-width: 1100px) {
    #mobileHeader {
        height: 50px !important;
        width: 80% !important;
        justify-content: space-between;
        padding-left: 10% !important;
        padding-right: 10% !important;
        display: flex !important;
        align-items: center !important;
        background-color: #FFFFFF !important;
        z-index: 1;
        box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.26);
        top: 0 !important;
    }

    #mobileBar {
        display: flex !important;
        width: 70% !important;
        padding-right: 0px !important;
        justify-content: space-between !important;
        padding-left: 15% !important;
        padding-right: 15% !important;
    }

    .headerIcons {
        display: flex;
        align-items: center;
    }

    .headerUser {
        height: 33px;
        width: 33px;
        padding: 1.5px;
        border-radius: 100%;
        border: 2px solid #2A3647;
        margin-left: 15px;
        cursor: pointer;
    }

    .headerHelp {
        height: 20px;
        width: 20px;
        cursor: pointer;
    }

    .joinLogoMobile {
        width: 30px;
        height: 32px;
    }

    #header {
        display: none !important;
    }

    .summary {
        justify-content: center;
        align-items: center;
        padding: 0px;
        height: unset;
    }

    .firstRow {
        margin-left: -360px;
    }


}

@media screen and (max-width: 1100px) {
    .summaryContainerRight {
        display: none;
    }

    .firstRow {
        margin-left: -70px;
    }
}



@media screen and (max-width: 600px) {

    .section2ndRow {
        width: 130px;
        height: 130px;

    }

    .sectionNumber {
        font-size: 54px;
    }

    .sectionText {
        font-size: 17px;
    }

    .section4thRow {
        width: 210px;
    }

    .summaryContainerLeft {
        width: 470px;
    }

    .firstRow {
        margin-left: -12px;
        width: 451px;
    }

    .summaryHeadline {
        font-size: 39px;
        width: 204px;
    }

    .summarySubHeadline {
        font-size: 18px;
    }
}

@media screen and (max-width: 500px) {
    .section2ndRow {
        width: 20vw;
        height: 20vw;
    }

    .sectionNumber {
        font-size: 37px;
        margin-bottom: -2px;
        margin-top: -7px;
    }

    .sectionText {
        font-size: 13px;
    }

    .summaryContainerLeft {
        width: 80%;
        padding-left: 10%;
    }

    .section4thRow {
        width: 44%;
        height: 92px;
    }

    .summaryHeadline {
        font-size: 37px;
        width: 186px;
        margin-bottom: 10px;
        border: none;
    }

    .summarySubHeadline {
        font-size: 15px;
        margin-bottom: 10px;
    }

    .firstRow {
        width: 367px;
        flex-direction: column;
    }

    .container {
        width: 100%;
    }

    .section3rdRow {
        height: 130px;
    }

    .summaryIcons {
        height: 45px;
        width: 45px;
    }

    .mobileBlueLine {
        display: block;
        padding-bottom: 2px;
        margin-left: -100px;
        width: 70px;
        background-color: #29ABE2;
    }
}


@media screen and (max-width: 400px) {
    .sectionText {
        font-size: 11px;
    }

    .sectionNumber {
        width: 34px;
    }

    .section3rdRow {
        height: 90px;
    }

    .urgentIcon {
        height: 20px;
        width: 20px;
        margin-right: 18px;
    }

    .thirdRowLeft {
        align-items: center;
    }

    .tasksPrioUrgentAmount {
        font-size: 41px;
    }

    .urgentText {
        font-size: 13px;
    }

}

@media screen and (max-width: 370px) {
    .section2ndRow {
        width: 22vw;
        height: 22vw;
    }

    .firstRow {
        width: 169px;
    }
}

@media screen and (max-width: 350px) {
    .sectionNumber {
        font-size: 30px;
    }

    .tasksPrioUrgentAmount {
        font-size: 32px;
    }

    .urgentIcon {
        height: 12px;
        width: 12px;
        margin-right: 3px;
    }

    .summaryIcons {
        height: 38px;
        width: 38px;
        margin-right: 17px;
    }

    .thirdRowLeft {
        width: 230px;
    }

    .thirdRowRight {
        width: 213px;
        text-align: center;
    }

}

@media screen and (max-width: 300px) {
    .sectionNumber {
        font-size: 26px;
    }

    .sectionText {
        font-size: 9px;
    }

    .tasksPrioUrgentAmount {
        font-size: 28px;
    }

    .summaryIcons {
        height: 36px;
        width: 36px;
        margin-right: 8px;
    }

}

@media screen and (max-height: 850px) and (max-width: 1100px) {
    .section2ndRow {
        width: 130px;
        height: 130px;

    }

    .sectionNumber {
        font-size: 54px;
    }

    .sectionText {
        font-size: 17px;
    }

    .section4thRow {
        width: 210px;
    }

    .summaryContainerLeft {
        width: 470px;
    }

    .firstRow {
        margin-left: -12px;
        width: 451px;
    }

    .summaryHeadline {
        font-size: 39px;
        width: 204px;
    }

    .summarySubHeadline {
        font-size: 18px;
    }
}

@media screen and (max-height: 820px) and (max-width: 1100px) {
    .firstRow {
        padding-top: 20px;
    }

    .container {
        margin-top: 30px;
    }
}

@media screen and (max-height: 750px) and (max-width: 1100px) {
    .container {
        margin-bottom: 100px;
    }
}

@media screen and (max-height: 850px) and (min-width: 1100px) {
.summary {
    height: unset;
}
}
@media screen and (max-height: 750px) and (min-width: 1100px) {
    .section2ndRow {
        width: 130px;
        height: 130px;

    }

    .sectionNumber {
        font-size: 54px;
    }

    .sectionText {
        font-size: 17px;
    }

    .section4thRow {
        width: 210px;
    }

    .summaryContainerLeft {
        width: 470px;
    }

    .firstRow {
        margin-left: -12px;
        width: 451px;
    }

    .summaryHeadline {
        font-size: 39px;
        width: 204px;
    }

    .summarySubHeadline {
        font-size: 18px;
    }
}