body {
    margin: 0;
    font-family: pt-sans-v17-latin-regular;
}

.container {
    display: flex;
}

.leftContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 150px;
    background-color:  #1711a1;
    padding: 32px;
    z-index: 2;
}

.rightContainer {
    width: calc(100% - 150px);
    height: 100vh;
    
}

.board {
    display: flex;
    justify-content: space-around;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
}

.menuLink {
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.menuLink a {
    color: white;
    text-decoration: none;
    font-size: 25px;
    padding: 8px;
}

.menuLink a:hover {
    cursor: pointer;
    margin-left: 5px;
    padding-left: 25px ;
    transition: margin-left 0.5s, padding-left 0.5s;
}

.bgColor {
    background-color: lightgray;
    width: 100%;
    min-height: 100vh;

    margin-left: 8px;
    margin-right: 8px;
}

.bgColor h2 {
    background-color: white;
    height: 44px;
    width: 100%;
    margin-top: 0px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todoBox {
    border: 1px solid  #1711a1;
    border-left: 4px solid  #1711a1;
    margin: 8px 0px;
    border-radius: 6px;
    background-color: lightblue;
    cursor: pointer;
}

.todoBox:hover {
    filter: invert(8%);
}

/****   Backlog     ****/

.backlog {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-left: 25px;
    margin-right: 25px;
}

.headBacklog {
    display: flex;
    flex-direction: column;
    height: 120px;
    justify-content: center;
}

.headBacklog2ndRow {
    margin-top: -15px;
    font-size: 13px;
    color:  #1711a1;
    font-weight: 600;
}

.descriptions {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 27px;
    font-size: 21px;
    color:  #1711a1;
    font-weight: bold;
}

.tasks {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.task {
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
    padding: 8px;
    border-radius: 7px;   
}

.popup {
    position: absolute;
    min-height: 200px;
    width: 420px;
    top:20vh;
    left: 40vw;
    background-color: aquamarine;
    padding: 10px;
    z-index: 5;
}

.notClickabel {
    background-color: #828282;
    opacity: 0.5;
    z-index: 1;
    height: 100vh;
    width: 100vw;
    position: fixed;
}

.taskTopline {
    display: flex;
    justify-content: space-between;
}

.boardBtn {
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-top-right-radius: 6px;
}
.boardBtn:hover {
    filter: invert(10%);
}

.name {
    display: flex;
    flex-direction: column;
}

.width33 {
    width: 33%;
}

.backlogImg {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.backlogBtnGroup {
    margin-right: 10px;
}
.backlogBtn {
    cursor: pointer;
    width: 34px;
    height: 34px;
    padding: 5px;
}

.backlogBtn:hover {
    filter: invert(30%);
}

.headAddTask {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 32px;
}

.headHelpSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 32px;
}

.headHelp2ndRow {
    font-size: 16px;
    color: #1818d7;
    font-weight: 600;
   padding-top: -16px !important;
}

.helpSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 32px;
    background-color: #F0F0F0;
}

form {
    display: flex;
    justify-content: space-around;
    background-color: #d8dee5;
    border-radius: 10px;
    margin-top: 32px;
    padding: 32px;
}

.inputBox p {
    color:  #1711a1;
}

.inputFieldSize {
    width: 300px;
    height: 40px;
    font-size: 15px;
    border-radius: 4px;
    border: 1px solid lightgray;
}

.profile {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    margin-right: 5px;
}

.avatarbox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#usersAccount {
    display: flex;
}

.userImg {
    width: 38px;
    height: 38px;
    padding-left: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 100%;
}

.userName {
    padding-left: 8px;
}

/* .userDiv {
    margin: 16px;
    padding-top: 16px;
} */

.avatarPickerMain {
    display: flex;
    align-items: center;
}

.profileBorder {
    border:4px solid transparent ;
}

.profileBorder:hover {
    opacity: 1;
}

.avatarbox p {
    color: black;
}

.addButtonAvatar {
    width: 50px;
    height: 50px;
    padding-top: 20px;
    padding-left: 10px;
    margin: 16px;
}

.avatarCornize{
    opacity: 1;
    border: 4px solid rgb(0,0,255);
}

.buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 32px;
}

#cancel {
    color:  #1711a1;
    border: unset;
    cursor: pointer;
    font-size: 20px;
    margin-right: 16px;
    padding: 8px;
}

#create {
    background-color:  #1711a1;
    color: white;
    border-radius: 5px;
    border: unset;
    cursor: pointer;
    font-size: 20px;
    padding: 8px;
}

.d-none {
    display: none;
}




