<div id="mobileBar">
        <a class="mobileNav" id="mobilebarSummary" href="summary.html">
            <img src="img/summary logo.svg" class="mobileLogos" alt="">
            <div class="mobileText">Summary</div>
        </a>
        <a class="mobileNav" id="mobilebarBoard" href="board.html">
            <img src="img/board logo.svg" class="mobileLogos" alt="">
            <div class="mobileText">Board</div>
        </a>
        <a class="mobileNav" id="mobilebarAddTask"href="addTask.html">
            <img src="img/addTask logo.svg" class="mobileLogos" alt="">
            <div class="mobileText">Add Task</div>
        </a>
        <a class="mobileNav" id="mobilebarContacts"href="contacts.html">
            <img src="img/contacts logo.svg" class="mobileLogos" alt="">
            <div class="mobileText">Contacts</div>
        </a>
</div>