<div id="mobileHeader">
    <img src="/img/joinLogoBlack.svg" alt="" class="joinLogoMobile">
    <div class="headerIcons">
        <div>
            <img id="mobileHeaderUser" class="headerUser" src="/img/userImgEmpty.png" alt="" onclick="openMobileDropdownLogout()">
            <a class="helpDropdown d-none" id="mobileHelp" href="help.html">Help</a>
            <a class="legalNoticeDropdown d-none" id="mobileLegalNotice" href="legalNotice.html">Legal notice</a>
            <div class="mobilelogoutDropdown d-none" id="mobileLogoutDropdown" onclick="logout()">Log out</div>
        </div>
    </div>
</div>