<div id="sidebar">
    <img src="img/join logo.svg" alt="" class="joinLogo">
    <div class="sidebarNavigation">
        <a class="sidebarNavRow" id="sidebarSummary" href="summary.html">
            <img src="img/summary logo.svg" class="sidebarLogos" alt="">
            <div class="sidebarText">Summary</div>
        </a>
        <a class="sidebarNavRow" id="sidebarBoard" href="board.html">
            <img src="img/board logo.svg" class="sidebarLogos" alt="">
            <div class="sidebarText">Board</div>
        </a>
        <a class="sidebarNavRow" id="sidebarAddTask" href="addTask.html">
            <img src="img/addTask logo.svg" class="sidebarLogos" alt="">
            <div class="sidebarText">Add Task</div>
        </a>
        <a class="sidebarNavRow" id="sidebarContacts" href="contacts.html">
            <img src="img/contacts logo.svg" class="sidebarLogos" alt="">
            <div class="sidebarText">Contacts</div>
        </a>
    </div>
    <a class="sidebarNavRow sidebarBottomRow" id="sidebarLegalNotice" href="legalNotice.html">
        <img src="img/legalNotice logo.svg" class="sidebarLogos" alt="">
        <div class="sidebarText">Legal notice</div>
    </a>
</div>